#main {
}

.main-content {
    text-align: center;
    
}

.Image {
    position: absolute;
    height: 400px;
    width: 400px;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0;
}

.link-active {
    color: #bbbbbb;
    text-decoration: none;
}

.btn {
    margin: 0 0.3em;
}


.open-menu.navbar {
    background: none;
    .btn-navbar {
        display: block;
        float: left;
    }
}

.navbar.navbar-fixed-top.navbar-fixed-bottom{
    width: 300px;
    background: #999;
    margin: 0;
    position: fixed;
    .navbar-inner {
        height: 100%;
        .container {
            width: 100%;
            .nav-collapse, .nav-collapse.collapse {
                height: auto;
            }
            .nav {
                li {
                    float: none;
                }
            }
        }
    }
}

.page-search {
    text-align: center;
    margin-top: 200px;
}

.sidebar {
    position: fixed;
    width: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    .navbar-inner {
        height: 100%;
        .bottom {
            position: absolute;
            bottom: 20px;
            width: 100%;
        }
        .items {
            .control-label {
                width: 60px;
            }
            .controls {
                margin-left: 70px;
                text-align: left;
                input[type=text] {
                    width: 60px;
                }
                input[type=radio] {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                }
            }
        }
    }

}