$green: #669a6a;

#main {
}

.main-content {
    text-align: center;
    
}

@mixin btn-green {
    color: #fff;
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    border-color: #51a351 #51a351 #387038;
    background-color: #51a351;
}

.Image {
    position: absolute;
    height: 400px;
    width: 400px;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0;
}

.link-active {
    color: #bbbbbb;
    text-decoration: none;
}

.btn {
    margin: 0 0.3em;
}


.open-menu.navbar {
    background: none;
    .btn-navbar {
        display: block;
        float: left;
    }
}

.navbar.navbar-fixed-top.navbar-fixed-bottom{
    width: 300px;
    background: #999;
    margin: 0;
    position: fixed;
    .navbar-inner {
        height: 100%;
        .container {
            width: 100%;
            .nav-collapse, .nav-collapse.collapse {
                height: auto;
            }
            .nav {
                li {
                    float: none;
                }
            }
        }
    }
}

.page-search {
    text-align: center;
    margin-top: 200px;
}

.page-create {
    .row-step {
        width: 80%;
        padding: 20px 10%;
        position: relative;
        min-height: 100px;
        .icon-chevron-left {
            position: absolute;
            left: 2%;
            top: 45%;
            font-style: 3em;
        }
        .icon-chevron-right {
            position: absolute;
            right: 2%;
            top: 45%;
            font-style: 3em;
        }
        .cover {
            display: none;
            margin-bottom: 20px;
        }
        .arraw {
            display: none;
        }
        a.active {
            .btn {
                @include btn-green;
            }
        }
    }

    $step-names: safeSys, watcher, circuit, machinery;
    @each $name in $step-names {
        $i: index($step-names, $name);
        &.step-#{$name} { 
            .row-#{$name} {
                background: $green;
                .cover {
                    display: inline-block;
                }
                .arraw {
                    display: block;
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    width: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 0!important;
    width: 25.65%!important;
    .navbar-inner {
        height: 100%;
        .bottom {
            position: absolute;
            bottom: 20px;
            width: 100%;
        }
        .items {
            .control-label {
                width: 60px;
            }
            .controls {
                margin-left: 70px;
                text-align: left;
                input[type=text] {
                    width: 60px;
                }
                label {
                    display: inline-block;
                    input[type=radio] {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        &:checked + a.btn {
                            @include btn-green;
                        }
                    }
                }

            }
        }
    }

}